---
---

@import "{{ site.theme }}";

header {
	background: #C2FA96;
	background: linear_gradient(#DDFCDD, #C6FAC6);

	h1 {
		color:#690;
	}

	.icon {
		float:left;
	}
}

strong {
	color: #242;
}

ol ol {
	list-style-type: lower-alpha;
}

.navbar {
	background-color: #5198DF;
	border-radius: 0px;
	padding: 0;

	ul {
		height: 28px;

		li {
			height: 28px;
			width: unset;
			padding: 0 10px;
		}
	}
}

ol li {
	font-weight: bold;

	p:first-child {
		font-weight: bold;
	}

	ol li {
		font-weight: bold;
	}

	* {
		font-weight: initial;
	}
}

.previous {
	left: 0;
	right: auto;
}

.next {
	right: 0;
}

.spacer {
	height: 54px;
}
