revealer.error {
	background-color: @error_color;
	color: white;
	font-weight: bold;
}

revealer.warning {
	background-color: @warning_color;
	color: black;
	font-weight: bold;
}

revealer.info {
	background-color: @info_color;
	color: black;
	font-weight: bold;
}
