revealer.error {
	background-color: @error_bg_color;
	color: @error_fg_color;
	font-weight: bold;
}

revealer.warning {
	background-color: @warning_bg_color;
	color: @warning_fg_color;
	font-weight: bold;
}

revealer.info {
	background-color: @accent_bg_color;
	color: @accent_fg_color;
	font-weight: bold;
}
